*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.youtube-container{
    background-color:black;
    height: 70vh;
    width: 100vw;

}
.youtube-1{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;

}
.youtube-container-2{
    background-color:black;
    height: 100%;
    width: 100%;
}
.youtube-container-3{ 
    background-color:black;
    height: 70vh;
    width: 100vw;

}
.youtube-3{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-4{
    background-color:rgba(0, 0, 0, 0.432);
    height: 70vh;
    width: 100vw;
}
.youtube-4{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-5{
    background-color:black;
    height: 70vh;
    width: 100vw;
}
.youtube-5{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}

.youtube-container-6{
    background-color:rgba(0, 0, 0, 0.432);
    height: 70vh;
    width: 100vw;
}
.youtube-6{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-7{
    background-color:black;
    height: 70vh;
    width: 100vw;
}
.youtube-7{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-8{
    background-color:rgba(0, 0, 0, 0.432);
    height: 70vh;
    width: 100vw;
}
.youtube-8{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-9{
    background-color:black;
    height: 70vh;
    width: 100vw;
}
.youtube-9{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}

.youtube-container-10{
    background-color:rgba(0, 0, 0, 0.432);
    height: 70vh;
    width: 100vw;
}
.youtube-10{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-11{
    background-color:black;
    height: 70vh;
    width: 100vw;
}
.youtube-11{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-12{
    background-color:rgba(0, 0, 0, 0.432);
    height: 70vh;
    width: 100vw;
}
.youtube-12{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.youtube-container-13{
    background-color:black;
    height: 70vh;
    width: 100vw;
}
.youtube-13{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:30px;
}
.bolt-videos{
    background-color: black;
}
.music{
    height: 100vh;
    width: 100vw;
}







